page-login {
    .slide-background{
        border-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .scroll-content{
        margin-top: 0 !important;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .login-container{
        position: absolute;
        z-index: 2;
        top: 0;
        width: 100%;
        margin: 0 auto;
        padding: 10vw;
        text-align: center;
        color: white;
    }

    .login-button{
        text-transform: uppercase;
        border-radius: 10px !important;
        &.activated {
            background-color: rgba(255, 255, 255, .4) !important;
        }
    }

    .cadastro {
        margin-top: 80%;
    }
}
